version: 2.1

orbs:
  pipeline-feedback: instana/pipeline-feedback@<<pipeline.parameters.dev-orb-version>>
  docker: circleci/docker@1.5.0
  orb-tools: circleci/orb-tools@10.0.4
  bats: circleci/bats@1.0
  shellcheck: circleci/shellcheck@2.0

# Pipeline Parameters
## These parameters are used internally by orb-tools. Skip to the Jobs section.
parameters:
  run-integration-tests:
    description: An internal flag to prevent integration test from running before a development version has been created.
    type: boolean
    default: false
  dev-orb-version:
    description: >
      The development version of the orb to test.
      This value is automatically adjusted by the "trigger-integration-tests-workflow" job to correspond with the specific version created by the commit and should not be edited.
      A "dev:alpha" version must exist for the initial pipeline run.
    type: string
    default: "dev:alpha"

jobs:
  # Define one or more jobs which will utilize your orb's commands and parameters to validate your changes.
  integration-test-1:
    docker:
      - image: instana/pipeline-feedback-orb-executor:latest
    steps:
      - checkout
      - pipeline-feedback/create_release:
          release_name: Integration Test Release

workflows:
  # Prior to producing a development orb (which requires credentials) basic validation, linting, and even unit testing can be performed.
  # This workflow will run on every commit
  test-pack:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      - orb-tools/lint # Lint Yaml files
      - orb-tools/pack # Pack orb source
      - shellcheck/check:
          dir: ./src/scripts
      # optional: Run BATS tests against your scripts
      # - bats/run:
      #     path: ./src/tests
      # If you accept building open source forks, protect your secrects behind a restricted context.
      # A job containing restricted context (which holds your orb publishing credentials) may only be accessed by a user with proper permissions.
      # An open source user may begin a pipeline with a PR, and once the pipeline is approved by an authorized user at this point, the pipeline will continue with the proper context permissions.
      - hold-for-dev-publish:
          type: approval
          requires:
            - orb-tools/lint
            - orb-tools/pack
            # - bats/run
            - shellcheck/check
      # Publish development version(s) of the orb.
      - orb-tools/publish-dev:
          orb-name: instana/pipeline-feedback
          context: orb-publishing # A restricted context containing your private publishing credentials. Will only execute if approved by an authorized user.
          requires: [hold-for-dev-publish]
      # Trigger an integration workflow to test the
      # dev:${CIRCLE_SHA1:0:7} version of your orb
      - orb-tools/trigger-integration-tests-workflow:
          name: trigger-integration-dev
          context: orb-publishing
          requires:
            - orb-tools/publish-dev

  # This `integration-test_deploy` workflow will only run
  # when the run-integration-tests pipeline parameter is set to true.
  # It is meant to be triggered by the "trigger-integration-tests-workflow"
  # job, and run tests on <your orb>@dev:${CIRCLE_SHA1:0:7}.
  integration-test_deploy:
    when: << pipeline.parameters.run-integration-tests >>
    jobs:
      # Run any integration tests defined within the `jobs` key.
      # - integration-test-1

      # Publish a semver version of the orb. relies on
      # the commit subject containing the text "[semver:patch|minor|major|skip]"
      # as that will determine whether a patch, minor or major
      # version will be published or if publishing should
      # be skipped.
      # e.g. [semver:patch] will cause a patch version to be published.
      - orb-tools/dev-promote-prod-from-commit-subject:
          orb-name: instana/pipeline-feedback
          context: orb-publishing
          checkout: false # We want to control the checkout because we want to inject the version in the scripts
          add-pr-comment: false
          fail-if-semver-not-indicated: true
          publish-version-tag: true
          ssh-fingerprints: e1:e9:fc:f2:aa:55:70:f8:67:6e:8b:2a:2f:f1:35:46
          pre-steps:
            - checkout
            - run:
                command: |
                  set -euo pipefail

                  CURRENT_VERSION=$(circleci orb info instana/pipeline-feedback | grep 'Latest' | awk '{ print $2 }' | awk -F '@' '{ print $2}' )
                  COMMIT_SUBJECT=$(git log -1 --pretty=%s.)
                  SEMVER_INCREMENT=$(echo "${COMMIT_SUBJECT}" | sed -En 's/.*\[semver:(major|minor|patch|skip)\].*/\1/p')
                  if [ "${SEMVER_INCREMENT}" = 'major' ]; then NEXT_VERSION=$(echo "${CURRENT_VERSION}" | awk 'BEGIN{FS=OFS="."} {$1+=1} {$2=0} {$3=0} 1'); fi
                  if [ "${SEMVER_INCREMENT}" = 'minor' ]; then NEXT_VERSION=$(echo "${CURRENT_VERSION}" | awk 'BEGIN{FS=OFS="."} {$2+=1} {$3=0} 1'); fi
                  if [ "${SEMVER_INCREMENT}" = 'patch' ]; then NEXT_VERSION=$(echo "${CURRENT_VERSION}" | awk 'BEGIN{FS=OFS="."} {$3+=1} 1'); fi

                  sed -i -e "s/version='dev'.*/version='${NEXT_VERSION}'/" $(pwd)/src/scripts/create_release.sh
          # requires:
          #   - integration-test-1
          filters:
            branches:
              only:
                - main

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - docker/hadolint:
          dockerfiles: default-executor/Dockerfile
          ignore-rules: DL3018
      - docker/publish:
          path: default-executor/
          image: instana/pipeline-feedback-orb-executor
          use-remote-docker: true
          requires:
            - docker/hadolint
